<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= assetPath('style.css') %>">

    <title>User Sign-In</title>    
</head>

<body>

    <!-- including header -->
    <%- include('_header'); %>

    <h1>Welcome to Book Search API</h1>

    <p>
        <a href="/users/auth/google">
            <button id="sign-out-button"> Sign-In With Google </button>
        </a>
    </p>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="<%= assetPath('script.js') %>"></script>
</body>
</html>