<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="<%= assetPath('style.css') %>"> 

    <title>Search Books Application</title>
</head>
<body>
    
    <%- include('_header'); %>

    <div id="search_div">
        <form id="search_form">
            <div>
                <h1><label for="search_div">Search Books</label></h1><br>
            </div>
            <div>
                <input type="text" placeholder="Type book name here..">                
                <button>Search</button>
            </div>
        </form>
        
    </div>

    <!-- search result will be displayed in this div -->
    <div id="result">

    </div>     

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="<%= assetPath('script.js') %>"></script>
</body>
</html>